{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}


{% for aProvider in aData %}
    <div class="sso-button" title="{{ aProvider.sTooltip }}" onclick="$('#login_mode').val('{{ aProvider.sLoginMode }}'); $('#login_form').submit(); return false;">
        {%  if aProvider.sFaImage != '' %}
            <i class="fab {{ aProvider.sFaImage|lower }} sso-image hybridauth-logo" aria-hidden="true"></i>
        {% else %}
            <img class="sso-image hybridauth-logo" aria-hidden="true" src="{{ aProvider.sIconUrl|lower }}"></img>
        {% endif %}
        {{ aProvider.sLabel }}
    </div>
{% endfor %}
